<% include partials/header %>

<header class='astroid_header'>

</header>

<main class='asteroidMain'>
  <h1 class='center'>Near Earth Asteroids, Oh My!</h1>
  <h6 class='center'>(See Asteroids near Earth)</h6>
  <%= bodies %>
</main>

<% include partials/footer %>