<% include partials/header %>

<header class='image_page'>
</header>

<section class='image_title'>
  <h1 class='center'>Picture of the day</h1>
  <h6 class='center'>(This picture comes from NASA each day)</h6>
</section>

<main>
  <div class='main_image_picture'>
    <img id='dailyImage' src="">
  </div>
</main>


<script type="text/javascript" src='/js/image.js'></script>
<% include partials/footer %>