<% include partials/header %>

<main class='main_landing'>

  <div class='login_container'>
    <form>
      <label>Username:</label><input>
      <label>Password:</label><input>
      <div class='login_button'>
        <button>Enter</button>
      </div>
    </form>
  </div>

</main>