<% include partials/header %>

<main class='main_landing'>

  <div class='login_container'>
    <form method='POST', action='/'>
      <label>Username:</label><input type='text' name='username'>
      <label>Password:</label><input type='password' name='password'>
      <div class='login_button'>
        <button>Enter</button>
      </div>
    </form>
  </div>

</main>