<% include partials/header %>

<main class='main_sign_up'>

  <form class='sign_up_form'>
    <h1>Sign Up</h1>
    <label>Name: </label><input type='text' name='name'>
    <label>Username: </label><input type='text' name='username'>
    <label>Email: </label><input type='text' name='email'>
    <label>Password: </label><input type='password' name='password'>
  </form>


</main>