/* Generic HTML for whole page */
body, html {
  height: 100%;
}

button {
  background-color: green;
  border-color: green;
  padding: 10px;
  color: white;
}

.center {
  text-align: center;
}

/* CSS for index page */

.main_landing {
  background-image: url(https://source.unsplash.com/AJCNM8JrzT8);
  height: 94%;
  background-repeat: none;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_container {
  background-color: rgba(0,0,0,0.6);
  color: white;
  padding: 30px;
  border-radius: 10px;
}

.login_button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  float: left;
  font-weight: bold;
  display: block;
  width: 6em;
  padding-right: 1em;
}

input, textarea {
  display: block;
  margin-bottom: 1em;
}

/* CSS for Sign Up Page */ 
.main_sign_up {
  background-image: url(https://source.unsplash.com/0ZOtNzDVUZg);
  height: 94%;
  background-repeat: none;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign_up_form {
  background-color: rgba(0,0,0,0.6);
  color: white;
  padding: 30px;
  border-radius: 10px;
  display: center;
}

.sign_up_button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CSS for Home page */ 
.main_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(https://source.unsplash.com/VBNb52J8Trk);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 65%;
}

.heading_container {
  background-color: rgba(0,0,0,0.7);
  padding: 15px;
  border-radius: 10px;
  color: white;
}

.home_main_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 50px;
}

.form_container {
/*  border: 2px solid blue;*/
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image_container {
/*  border: 2px solid green;*/
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  height: 500px; 
}

.addressButton {
  border-radius: 8px;
  background-color: #e29a09;
  border: #e29a09;
}

/* CSS for image page */

.image_page {
  background-image: url(https://source.unsplash.com/1lfI7wkGWZ4);
  height: 85%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image_title {
  margin-top: 50px;
  margin-bottom: 25px;
}

.main_image_picture {
  display: flex;
  flex-direction: center;
  justify-content: center;
  margin-bottom: 75px;
}

/* Astroid Header Page */
.astroid_header {
  background-image: url(https://source.unsplash.com/ln5drpv_ImI);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 85%;
}

.asteroidMain {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 5%;
  margin-right: 5%;
}

span {
  font-weight: bold;
}

.asteroid_main_div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  margin-top: 50px;
}

.asteroid_data_container {
  border: 2px solid black;
  background-color: rgba(0,0,0,0.3);
  border-radius: 10px;
  padding: 15px;
}





